body{
    margin: 0px;
    background-color: black;
    color: white
}
main img{
    float: left;
    width: 285px;
    margin: 20px;
    
}
h1{

font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: center;
color-scheme: gray;
}
footer{

    text-align: center;
    }
